/* By Mr Peter Wan */

* {
    box-sizing: border-box;
}

html{
    text-align: center;  
    background: url('Vancouver_by_peter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    text-align: left;
    padding-bottom:0.1em;
}
body {
    color: dimgray;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    /* min-width: 636px; */
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#fixedNav{
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    width: 33%;
    text-align: left;
    list-style-type: none;
    display: flex;
    /* Remove padding */
    /* Remove margins */  
}
li{
    padding-right: 0.5em;
    
}

button#contact-me{
    background-color: dimgrey;
    margin-block: 0;
    border-radius: 0.3em;
    margin-right: 2%;
}
#contact{
    text-align: right;
    align-self: stretch;
    margin-block: 5px;
    margin-right: 2%;
}


h1{
    font-weight: bold;
    letter-spacing: .3em;
}

#things-i-like{
    padding: 1em;
    margin: 0;
    
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}

h2#showcase{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
    margin: 0;
    padding: 1em;
}
header, footer{
    background-color:antiquewhite;
    border:#131416 1px solid;
    background-color: #131416;
}

header {
    padding-top: 10px;
}

img#peter{
    max-height: 200px;
    padding-bottom: 1em;
}

main {
    border: 0.2em solid white;
    display: flex;
    justify-content: center;
    background-color: white;
}


main.Pictures {
    border: 0.2em solid white;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-grow: 1;
    flex-basis: 0;
}


a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #fff; 
    text-decoration: inherit; 
}

a#interests {
    color: dimgray; 
    text-decoration: underline; 
}

.interest .interest {
    width: 70%;

}

.interest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3px;
    grid-gap: 3px;
}

.interest .interest{
    width: 100%;
}







/* 
#col1{
    flex: 1;
} */
.mainsection{
margin: auto;
}

#col2{
    flex: 2;
    padding: 0;
    width: 800px;
    float: left;
}

#col3{
    flex: 1;
    vertical-align: middle;
    float: left;
    width: 300px;
}

iframe{
    padding-inline: 2%;
    padding-block: 1%;
}

#clear{
    clear: both;
}

p{
    padding-inline: 2%;
}

blockquote{
    padding: 0;
}
p.quote{
    padding-inline: 0;
    width: 100%;
}


label{
    text-align: Left;
}

input, .selectField {
    padding: 0.3em;
    border: 0.3px #bebeb6 solid;
    border-radius: 0.3em ;
    
}

input:focus, select:focus{
    outline: 3px solid lightblue;
  
}

input[type="submit"],input[type="reset"]{
    width: 150px;
    background-color: rgb(0, 123,255)  ;
    color: white;
    border-radius: 0em;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background-color: darkblue;
    text-shadow: darkblue 1px;
}
    
.buttons {
    text-align: right;
    grid-column: 2/3;
}
.required{
    font: 1em serif;
    color: red;
}

div#footer{
    text-align: center;
}

/* For expertise.js */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 30px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: solid 0.2em rosybrown;
    padding: 0.4em;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    background-color: white;
}

/* .interest{
    width: 100%;
} */

@media (max-width: 665px){
    main {
        flex-direction: column;
        
    }

    #col2{
        padding: 0;
        width: 100%;
        float: left;
    }
    
    #col3{
       
        vertical-align: middle;
        float: left;
        width: 100%;
    }
    
    button#contact{
        margin-right: 1%;
        width: 50px;
        text-align: center;
    }

    .interest {
        grid-template-columns: 1fr;
    }
}

.vid-container{
    height: 250px;
    margin: 0;
}

iframe{
    border: 0;
    width: 100%;
    height:100%;
}

#column1{
    flex: 1;
    float: left;
    width: 100%;
    height: 100%;
}

#column2{
    flex: 1;
    float: left;
    width: 100%;
    height: 100%;
}

#column3{
    flex: 1;
    float: left;
    width: 100%;
    height: 100%;
}

img.interest{
    height : 100%;
}

/* For form */
body {
    
    font-family: 'Poppins', sans-serif;
}

#form{
    flex: 2;
    overflow-y: auto;
    width: 98%;
    padding: 1em;
    
    background-color: #eeeee9;
    
    margin-top: 2%;
    margin-left: 0;
    margin-right: auto;
    


    grid-template-columns: 1.3fr 2.5fr;
    grid-gap: 10px;
}




#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    /* outline: 0; */
    outline: 3px solid lightblue;
}

.input-control.error input:focus{
    outline: 1px solid #ff3860;
}

.input-control.success input:focus{
    outline: 1px solid #09c372;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    text-align: left;
    padding-left: 0.3em;
    padding-top:0.1em;
}

